
.file-upload-dropzone {
  width: 90%;
  padding: 40px;
  text-align: center;
  margin: 0 auto; /* Center the upload area */
}

.file-upload-container {
  width: 80%; 
  padding: 16px;
  margin: 20px auto; /* Center the container */
  background: linear-gradient(135deg, #f3f3f5, #ffffff);
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.file-upload-dropzone.dragging {
  border-color: #1976D2;
  background-color: rgba(187, 222, 251, 0.5); /* Subtle background during drag */
  box-shadow: 0 0 16px rgba(33, 150, 243, 0.3);
}

.file-upload-icon {
  color: #1976D2;
  margin-bottom: 16px;
  transition: transform 0.3s;
  scale: 1.3;
}
.file-upload-dropzone:hover {
  transform: scale(1.005);
}

.file-upload-dropzone:hover .file-upload-icon {
  transform: scale(1.1);
}

.upload-title {
  text-align: center;
  margin-bottom: 16px;
  color: transparent; /* Required for gradient text */
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  -webkit-background-clip: text; /* Clips the gradient to text */
  background-clip: text;
  position: relative; /* For the underline effect */
}
.upload-title::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Position below the text */
  left: 50%;
  transform: translateX(-50%);
  width: 20%; /* Length of the underline */
  height: 3px; /* Thickness of the underline */
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  border-radius: 2px; /* Rounded edges for a clean look */
  transition: width 0.3s ease; /* Smooth animation on hover */
}

.upload-title:hover::after {
  width: 100%; /* Expands underline on hover */
}

