
.file-upload-dropzone {
  width: 100%;
  padding: 40px;
  text-align: center;
  margin: 0 auto; /* Center the upload area */
}

.file-upload-container {
  margin-top: 80px; 
}


.file-upload-dropzone.dragging {
  border-color: #1e88e5;
  background-color: rgba(187, 222, 251, 0.5); /* Subtle background during drag */
  box-shadow: 0 0 16px rgba(33, 150, 243, 0.3);
}

.file-upload-icon {
  color: #2575fc;
  margin-bottom: 16px;
  transition: transform 0.3s;
  scale: 1.5;
}

.file-upload-dropzone:hover .file-upload-icon {
  transform: scale(1.5);
}


.waveform-display-container {
  padding: 24px;
  margin-top: 24px;
  background: linear-gradient(145deg, #f1f5f9, #ffffff);
  border: solid;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.bpm-key-display {
  padding: 20px;
  text-align: center;
  background: linear-gradient(145deg, #ffffff, #f8f9fa);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.bpm-key-title {
  color: #4a4a4a;
  font-weight: 500;
}

.bpm-key-text {
  font-size: 24px;
  color: #1e88e5;
  font-weight: bold;
}

.iconButton:hover {
  transform: scale(1.5);
}

.circular-progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.circular-progress-container .MuiTypography-root {
  margin-left: 12px;
  font-weight: 500;
}

.file-playback-section {
  margin: 32px auto; /* Center horizontally */
  text-align: center;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
